.card {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  color: black;
  width: 250px;
  box-sizing: border-box;

}

.imageContainer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img {
  width: 200px;
  height: 160px;
  object-fit: cover;
}

.noImage {
  color: #888;
  background-color: #f0f0f0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: bold;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
}