.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f9f4f0;
  position: absolute;
  top: 50px;
  left: 0px;
  border: 1px solid black;
  color: black;
}

.inputContainer,
.checkboxContainer,
.selectContainer {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  box-sizing: border-box;
}

.select {
  width: 100%;
}
